@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 15s linear infinite;
  will-change: transform;
}
body{
  bgcolor: #f0f0f0;
}
